{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.hasConfig() %}
        {% set icon %}
            <span class="sf-toolbar-label">ScssPHP</span>
            <span class="sf-toolbar-value sf-toolbar-status" style="{{ collector.hasErrors() ? 'background-color: #f44;' : '' }}">{{collector.getResults()|length}}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Managed assets</b>
                <span class="sf-toolbar-status">{{collector.getResults()|length}}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Assets with errors</b>
                <span class="sf-toolbar-status" style="{{ collector.hasErrors() ? 'background-color: #f44;' : '' }}">{{collector.getResultsWithErrors()|length}}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">-</span>
        <strong>ScssPHP</strong>
    </span>
{% endblock %}

{% block panel %}
    <style>
        .error-message {
            font-weight: bold;
            color: var(--color-error);
        }
        .success-message {
            color: var(--color-success);
        }

        .no-bottom-border td {
            border-bottom: 1px solid #fff;
        }

        .bg-error td {
            background: #fcc;
        }

        .bg-gray td {
            background-color: var(--base-1);
        }

        .no-bottom-border.bg-error td {
            border-bottom: 1px solid #fcc;
        }
        .error-line td {
            padding-top: 0;
        }
    </style>


    <h2>ScssPHP</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.scssphpVersion }}</span>
            <span class="label">Version</span>
        </div>
        <div class="metric">
            <span class="value">{{ include('@WebProfiler/Icon/' ~ (collector.config.enabled ? 'yes' : 'no') ~ '.svg') }}</span>
            <span class="label">Enabled</span>
        </div>

        <div class="metric">
            <span class="value">{{ include('@WebProfiler/Icon/' ~ (collector.config.autoUpdate ? 'yes' : 'no') ~ '.svg') }}</span>
            <span class="label">Auto Update</span>
        </div>
    </div>

    <h3>Configured Assets</h3>
    {{ dump(collector.config.assets) }}


    <h3>Required assets <small>during request</small></h3>
    <table>
        <thead>
        <tr>
            <th>Required asset</th>
            <th>Existing</th>
            <th>Built</th>
        </tr>
        </thead>
        <tbody>
        {% for asset,info in collector.requiredAssets %}
            <tr>
                <td>{{ asset }}</td>
                <td>{{ info.existed ? 'Yes' : 'No' }}</td>
                <td>{{ info.built ? 'Yes' : 'No' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h3>Recent builds</h3>
    <table>
        <thead>
            <tr>
                <th>Asset</th>
                <th>Source</th>
                <th title="When the asset has been built at">Last build</th>
                <th>Status</th>
                <th title="Time it took to compile SCSS sources">Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for result in collector.getResults() %}
            {% set assetRequired = result.job.assetName in collector.requiredAssets|keys %}
            {% set assetBuilt = result.job.assetName in collector.builtAssets %}

            <tr class="{{ result.isSuccessful ? '' : 'no-bottom-border bg-error' }} {{ assetRequired ? '' : 'bg-gray' }}">
                <td>
                    <span title="{{ result.job.destinationPath }}">{{ result.job.assetName }}</span>
                </td>
                <td>
                    <span title="{{ result.job.sourceFilePath }}">{{ result.job.sourceFileName }}</span>
                    <span title="Amount of parsed files">(<b>{{ result.parsedFiles | length }}</b>)</span>
                </td>
                <td>{{ result.executedAt | date }}</td>
                <td>
                    {% if result.isSuccessful %}
                        <b class="success-message">Success</b>
                    {% else %}
                        <b class="error-message">Error</b>
                    {% endif %}
                </td>
                <td>
                    {{ result.duration | round(3) }}s
                </td>
                <td>
                    <a href="#" class="toggle-button" data-toggle-target-id="details_{{ result.job.sanitizedAssetName }}">Details</a>
                </td>
            </tr>

            {% if result.isSuccessful == false %}
                <tr class="bg-error error-line">
                    <td colspan="7">
                        <span class="error-message">{{ result.errorMessage }}</span>
                    </td>
                </tr>
            {% endif %}

            <tr id="details_{{ result.job.sanitizedAssetName }}" class="hidden no-top-border {{ assetRequired ? '' : 'bg-gray' }}">
                <td colspan="7">
                    {{ dump(result) }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


    <h3>Additional Resources</h3>
    <ul>
        <li><a href="https://github.com/a-r-m-i-n/scssphp-bundle/issues">Report an issue</a></li>
        <li><a href="https://github.com/a-r-m-i-n/scssphp-bundle/blob/master/README.md">Read documentation</a></li>
    </ul>

    <script type="text/javascript">
        function Toggler() {
            "use strict";

            var states = {},

                isCollapsed = function (button) {
                    return Sfjs.hasClass(button, 'closed');
                },

                isExpanded = function (button) {
                    return !isCollapsed(button);
                },

                expand = function (button) {
                    var targetId = button.dataset.toggleTargetId,
                        target = document.getElementById(targetId);

                    if (!target) {
                        throw "Toggle target " + targetId + " does not exist";
                    }

                    if (isCollapsed(button)) {
                        Sfjs.removeClass(button, 'closed');
                        Sfjs.removeClass(target, 'hidden');

                        states[targetId] = 1;
                    }
                },

                collapse = function (button) {
                    var targetId = button.dataset.toggleTargetId,
                        target = document.getElementById(targetId);

                    if (!target) {
                        throw "Toggle target " + targetId + " does not exist";
                    }

                    if (isExpanded(button)) {
                        Sfjs.addClass(button, 'closed');
                        Sfjs.addClass(target, 'hidden');

                        states[targetId] = 0;
                    }
                },

                toggle = function (button) {
                    if (Sfjs.hasClass(button, 'closed')) {
                        expand(button);
                    } else {
                        collapse(button);
                    }
                },

                initButtons = function (buttons) {
                    states = null;

                    // must be an object, not an array or anything else
                    // `typeof` returns "object" also for arrays, so the following
                    // check must be done
                    // see http://stackoverflow.com/questions/4775722/check-if-object-is-array
                    if ('[object Object]' !== Object.prototype.toString.call(states)) {
                        states = {};
                    }

                    for (var i = 0, l = buttons.length; i < l; ++i) {
                        var targetId = buttons[i].dataset.toggleTargetId,
                            target = document.getElementById(targetId);

                        if (!target) {
                            throw "Toggle target " + targetId + " does not exist";
                        }

                        // correct the initial state of the button
                        if (Sfjs.hasClass(target, 'hidden')) {
                            Sfjs.addClass(buttons[i], 'closed');
                        }

                        // attach listener for expanding/collapsing the target
                        clickHandler(buttons[i], toggle);

                        if (states.hasOwnProperty(targetId)) {
                            // open or collapse based on stored data
                            if (0 === states[targetId]) {
                                collapse(buttons[i]);
                            } else {
                                expand(buttons[i]);
                            }
                        }
                    }
                };

            return {
                initButtons: initButtons,

                toggle: toggle,

                isExpanded: isExpanded,

                isCollapsed: isCollapsed,

                expand: expand,

                collapse: collapse
            };
        }
        var toggler = new Toggler(),
            clickHandler = function (element, callback) {
                Sfjs.addEventListener(element, 'click', function (e) {
                    if (!e) {
                        e = window.event;
                    }

                    callback(this);

                    if (e.preventDefault) {
                        e.preventDefault();
                    } else {
                        e.returnValue = false;
                    }

                    e.stopPropagation();

                    return false;
                });
            };
        toggler.initButtons(document.querySelectorAll('a.toggle-button'));
    </script>
{% endblock %}
